footer {
    height: 450px;
    background-color: #ee4367;
    margin-top: -75px;

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 35px;
    }

    .addy {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Gill;
        font-size: 16px;
        font-weight: 100;
        color: white;
        padding-top: 50px;
        margin: auto auto 5px auto;
    }

    .number {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Gill;
        font-size: 16px;
        font-weight: 100;
        color: white;
        margin: auto auto 5px auto;
    }

    .email {
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: Gill;
        font-size: 16px;
        font-weight: 100;
        color: white;
        margin: 5px auto 50px auto;
    }

    .signup {
        height: 60px;
        display: flex;
        display: flex;
        align-items: center;
        justify-content: center;
        
        input {
            width: 529px;
            height: 100%;
            background-color: #f56b88;
            border: none;
            color: rgba(238, 67, 103, 1);
            font-size: 16px;
            padding-left: 15px;
        }

        ::placeholder {
            color: rgb(197, 197, 197);
            opacity: 1;
            font-family: Gill;
        }

        .button {
            width: 167px;
            height: 100%;
            background-color: white;
            font-family: Gill;
            color: #EE4367;
            font-size: 16px;
            text-align: center;
            padding-top: 20px;
            letter-spacing: 2px;
        }
    }

    .socialmedia {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 25px;
        margin: auto;
        width: 10%;

        .fb {
            width: 30px;
            height: 30px;
            background-color: #EE4367;
        }

        .ig {
            height: 30px;
            width: 30px;
            background-color: #EE4367;
        }

        .twi {
            width: 30px;
            height: 30px;
            background-color: #EE4367;
        }
    }


    .page-links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 15px auto 10px auto;
        width: 450px;

        a {
            z-index: 999;
        }
    }


    p {
        display: flex;
        align-items: center;
        justify-content: center;
        color: #FFFFFF;
        font-family: Gill;
        font-size: 12px;
        margin: 20px auto auto auto;
        color: #c3c3c3;
    }
}

@media (max-width: 1000px) {
    footer {
        .signup {
            padding: 0 50px;
        }
        .socialmedia {
            margin: auto;
            width: 150px;
        }
    }
}