.hero {
    background-image: linear-gradient(rgba(255, 209, 64, .8), rgba(255, 209, 64, .8)), url(../images/about.jpg);
    max-width: 980px;
    height: 378px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 175px auto 0 auto;
}

@media (max-width: 1000px) {
    .hero {
        margin-left: 75px;
        margin-right: 75px;
    }
}
