.history {
    max-width: 980px;
    min-height: 378px;
    margin: -25px auto 0 auto;
    
    .history-title {
        text-transform: uppercase;
        font-size: 25px;
        font-family: Gill;
        letter-spacing: 2px;
        border-bottom: solid 3px black;
        padding-right: 30px;
        padding-bottom: 15px;
    }

    p {
        margin-top: 50px;
        font-family: GillLightitalic;
        font-style: italic;
        font-size: 16px;
        letter-spacing: 1.5px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 150px;
    }
}

@media (max-width: 1000px) {


    .history {


        .history-title {
            margin: auto;
            display: table;
            padding-right: 0;
        }

        p {
            margin-left: 50px;
            margin-right: 50px;
        }
    }
}